{% extends 'blog/base.html' %}
    {% block content %}
        <div class="post-content">
            <h2>{{ post.title }}</h2>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" width="60%">
            {% endif %}
            <p class="post-detail">{{ post.content }}</p>

            {% if user == post.author %}
            <div class="edit-post">
                <a href="{% url 'edit_post' post.id %}">Edit Post</a> | 
                <a href="{% url 'delete_post' post.id %}">Delete Post</a>
            </div>
            {% endif %}

            <p>
            {%  if post.category %}
                Category: <span>{{ post.category.name }}</span>
            {% else %}
                    No Category
            {% endif %}
            </p>
            {% for tag in post.tags.all %}
            <p>
                Tags: 
                <span>{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No Tags
                {% endfor %}
            </p>
            <p>By <strong>{{ post.author }}</strong> on {{ post.date_created }}</p>
            <a href="/">Back to home</a>
        </div>
    {% endblock %}
