/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding-left:150px;
  padding-right:150px;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
    padding-left:10px;
    padding-right:10px;
  }
  .logout{
    background-color: orange;
    color: #fff;
    padding: 20px;
    margin-left: 0px;
  }
}

header {
  color: #333;
  font-size: 34px;
  margin: 10px;
  padding: 10px;
  font-family: Arial, sans-serif, "montserrat";
  font-weight: 800;
}

nav {
  background-color: #4caf50;
  padding: 10px 20px;
  border-radius: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: none;
  color:lightgreen;
  transition: 2s transition all;
  text-shadow: 2px 2px 25px #333;
}

hr {
  margin: 20px 0;
  border: 1px solid #ddd;
}

small {
  border: none;
  background-color: none;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 350px;
}

textarea {
  padding: 10px;
  margin: 10px;
  width: 550px;
}

button {
  padding: 10px;
  margin: 10px;
  width: 350px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px 10px;
}

button:hover {
  color: #3d8f3d;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #4caf50;
}

img:hover {
            /* width: 550px; */
            transition: 1s all;
            cursor: pointer;
            box-shadow: 2px 2px 20px #333;
            border-radius: 5px;
}

a.delete-btn:link{
  margin-top: 5px;
  margin-bottom: 5px;
  padding 10px 20px;
  background-color:rgb(180, 42, 42);
  color: #fff;
}

a.delete-btn:hover {
  margin-top: 5px;
  margin-bottom: 5px;
  padding 10px 20px;
  background-color:rgb(138, 1, 1);
  color: #fff;
}

a.delete-btn:visited {
  margin-top: 5px;
  margin-bottom: 5px;
  padding 10px 20px;
  background-color:rgb(26, 32, 83);
  color: #fff;
}

section.delete_post{
  /* define the style for the delete post section */
  display: flex;
  background: #f0f0f0;
}

.post-content{
  border: 1px solid #ccc; 
  padding: 10px; 
  margin-bottom: 15px;
}

.post-detail{
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  font-size: 12px;
  background-color: lightgreen;
  color: #000;
  padding:5px 10px;
  border-radius: 5px;
}

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.edit-post{
  padding:20px;
  margin:50px 20px;
  border: 1px solid #ccc;
}

.tag-and-category{
  padding:20px;
  margin-top: 50px;
  border: none;
}

.paginator{
  padding:20px;
  margin:50px 20px;
  border: 1px solid green;
  background-color: lightgreen;
}

.paginator a{
  color: #fff;
  text-decoration: none;
  background-color: green;
  padding:5px 20px;
  border-radius: 5px 5px;
}

.paginator a:hover{
  background-color: orange;
}

.read-more{
  text-decoration: none;
  background-color: lightgreen;
  padding: 10px 20px;
}

.logout{
  background-color: orange;
  color: #fff;
  padding: 20px;
  margin-left: 960px;
}

input{
  border: 1px solid #333;
  border-radius:5px 5px;
  width: 100%;
}
input:hover{
  border: 5px solid rgb(87, 126, 255);
  border-radius:5px 5px;
  width: 100%;
}

textarea{
  border: 1px solid #333;
  border-radius:5px 5px;
  width: 100%;
}

.post-card{

}